* {
  box-sizing: border-box;
}

.header {
  background-color: rgb(173,181,189);
  color: white;
  width: 100%;
  padding: 32px;
}

.headerlogo {
  width: 32px;
  height: 32px;
  vertical-align: middle;
  margin-right: 16px;
  border: 1px solid #000000;
}

.headerTitle {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

body {
  background-color: #f1f1f1;
}

.App {
  width: 100%;
  max-width: 942px;
  margin: 0 auto;
  clear: both;
}


table {
  border-collapse: collapse;
  background-color: #FFFFFF;
  width: 100%;
}

table td {
  border-bottom: 1px solid #eee;
}

td input {
  width: 100%;
}

table td:nth-child(1) {
  width: 30%;
}

table td:nth-child(2) {
  width: 30%;
}

table td:nth-child(3) {
  width: 30;
}

table td:nth-child(4) {
  width: 10%;
}

table.addcontacts thead tr td,
table.contactsList thead tr td 
{
  padding: 16px 16px 16px 24px;
  height: 48px;
}

table.contactsList tbody tr td {
  /* padding: 24px 0 24px 24px; */
  padding: 24px;
  height: 72px;
}

.contactsList td:nth-child(4) {
  padding: 0;
  margin: 0;
}

.addcontacts {
  background-color: #FFFFFF;
  padding: 16px;
  height: 72px;
  margin-bottom: 8px;
}

button {
  border: 0;
  font-size: 16px;
  width: 100px;
  height: 40px;
  color: #909090;
}

input[type="text"],
input[type="email"] {
  color: #505050;
  font-size: 16px;
  font-weight: 400;
  /* width: 100%; */
}

.addcontacts input[type="email"],
.addcontacts input[type="text"] {
  padding: 0 10px;
  height: 40px;
  color: #919191;
  background-color: #FAFAFA;
  border: 1px solid #EEEEEE;
}

table.contactsList tbody tr td input {
  border: 0;
}

.faicons {
  margin-right: 24px;
  font-size: 24px;
  color: #909090;
}